.show {
    display:block;
}

.hide {
    display:none;
}

.favorable {
    background-color: green;
    padding: 5px;
    border-radius: 5px;
}

.moderate {
    background-color: darkorange;
    padding: 5px;
    border-radius: 5px;
}

.severe {
    background-color: red;
    padding: 5px;
    border-radius: 5px;
}